<div class="home-component container" style="position: center">
  <div class="row mt-4" style="border: solid 1px #cecece; border-radius: 15px; padding: 30px 0px 50px 0px;">
    <div class="col col-12 p-0 text-center align-self-center">
      <div class="container p-2">
        <div class="row px-4 mb-4 align-items-center">
          <div class="col-9 " >
            <button mat-raised-button color="primary" (click)="openDialog()">افزودن تجهیزات</button>
          </div>
          <div class="col-3">
            <img class="img-thumbnail" src="../../../assets/google.png">
          </div>
        </div>

        <div class="row px-4">
          <div class="col mr-1">
            <p>
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>جستجو با شماره سریال</mat-label>
                <input matInput type="text" >
              </mat-form-field>
            </p>
          </div>
          <div class="col">
            <p>
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>جستجو با شماره نصب</mat-label>
                <input matInput type="text" >
              </mat-form-field>
            </p>
          </div>
          <div class="col mr-1">
            <p>
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>نوع</mat-label>
                <mat-select>
                  <mat-option value="one">سیرلث</mat-option>
                  <mat-option value="two">یمسندبنت</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>
        </div>

        <div class="container p-2">
          <div class="row px-4">
            <div class="col mr-1">
              <p>
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>زیرمجموعه</mat-label>
                  <mat-select>
                    <mat-option value="one">سیرلث</mat-option>
                    <mat-option value="two">یمسندبنت</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            </div>
            <div class="col">
              <p>
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>سازنده</mat-label>
                  <mat-select>
                    <mat-option value="one">سیرلث</mat-option>
                    <mat-option value="two">یمسندبنت</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            </div>
            <div class="col">
              <p>
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>سازندهمدل</mat-label>
                  <mat-select>
                    <mat-option value="one">سیرلث</mat-option>
                    <mat-option value="two">یمسندبنت</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            </div>
          </div>

        </div>

        <div class="row px-4">
          <div class="col">
            <p style="text-align: start">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">نصب نشده</mat-radio-button>
              </mat-radio-group>

              <mat-radio-group aria-label="Select an option" class="mx-4">
                <mat-radio-button value="1">نصب شده</mat-radio-button>
              </mat-radio-group>
            </p>
          </div>
        </div>
        <div class="row px-4">
          <div class="col">
            <p style="text-align: start">
              <mat-radio-group aria-label="Select an option" >
                <mat-radio-button value="1">خارج از سرویس</mat-radio-button>
              </mat-radio-group>

              <mat-radio-group aria-label="Select an option" class="mx-4">
                <mat-radio-button value="1">در حال سرویس</mat-radio-button>
              </mat-radio-group>

              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">معیوب</mat-radio-button>
              </mat-radio-group>
            </p>
          </div>
        </div>
        <div class="row px-4">
          <div class="col col-16 " style="margin-right: 90px">

            <button mat-raised-button color="primary" (click)="showModal = false" style="width: 25%; height: 43px">
              <span>اجرا</span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
