<section>
  <div style="border-bottom: 1px solid #e7d9d9">
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'work-plan'">مدیریت برنامه کاری</button>
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'time-sheet'">مدیریت تایم شیت</button>
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'leave'">مدیریت مرخصی</button>
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'vacation'">مدیریت تعطیلات</button>
  </div>
</section>


<router-outlet></router-outlet>
