<div class="home-component container" style="position: center">
  <div #demoModal class="modal fade" id="exampleModal"
       [style.display]="showModal ? 'block' : 'none'"
       [class.show]="showModal"
       tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="alignment: center" >
      <div class="modal-content p-0" style="border: none; border-radius: 8px;alignment: center;">
        <div class="container p-0" style="width: 400px;">
          <div class="row" style="border: solid 1px #cecece; border-radius: 15px; padding: 30px 0px 50px 0px;">
            <div class="col col-12 p-0 text-center align-self-center">
              <div class="container p-0">
                <div class="row " >
                  <div class="col col-12 text-center pb-3 text-center" style="color: blue; font-weight: bold; font-size: 18px">
                    <img src="../../../assets/images.png" class="img-fluid" style="width: 100px;">
                  </div>
                  <div class="col col-12 text-center pb-3 text-center" style="color: blue; font-weight: bold; font-size: 18px">
                    تایید توسط رمز یکبار مصرف
                  </div>
                  <div class="col col-12 ">
                    <p>
                      <mat-form-field appearance="outline" style="width:80%;" >
                        <mat-label>رمز یکبار مصرف</mat-label>
                        <input type="text" matInput style="padding-bottom: 1px !important;" required>
                        <mat-icon matSuffix>install_mobile</mat-icon>
<!--                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
                      </mat-form-field>
                      <br>
                    </p>
                    <p class="my-0" *ngIf="time > 0">
                      <span>{{time}}</span>
                    </p>
                  </div>
                  <div class="col col-12">
                    <button mat-raised-button color="primary" (click)="startTimer()"   style="width: 45%; height: 43px">
                      <mat-spinner  *ngIf="wait"></mat-spinner>
                      <span *ngIf="!wait">تایید</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-12">
            <button type="button" class="btn btn-link"> راهنما</button>
            <button type="button" class="btn btn-link">زبان</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



