
<h2 mat-dialog-title>سطح دسترسی جدید</h2>
<mat-dialog-content class="mat-typography">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Access level name</mat-label>
            <input matInput >
          </mat-form-field>
        </p>
      </div>
      <div class="col">
        <p>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>نام سطح دسترسی</mat-label>
            <input matInput >
          </mat-form-field>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>انتخاب زمانبندی</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>

    </div>


    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a1ا</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >نa2</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a3ا</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a4</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a5</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a6</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a7</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a8</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a9</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a10</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a11</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >a12</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close >لغو</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>اجرا</button>
</mat-dialog-actions>

