<section>
  <div style="border-bottom: 1px solid #e7d9d9">
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'intelligent-parking'">پارکینگ هوشمند</button>
    <!--<button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'scenario-configuration'">پیکربندی سناریو</button>
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'equipment-scheduling'">زمان بندی تجهیزات</button>-->
  </div>
</section>
<router-outlet></router-outlet>



