<h2 mat-dialog-title>افزودن گزینه جدید</h2>
<div class="container-fluid">
  <div class="row">
    <!--<div class="col">
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>دسته بندی دستگاه</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>-->
    <div class="col">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>عنوان</mat-label>
          <input matInput
                 [(ngModel)]="item.name"
                 placeholder="Placeholder">
        </mat-form-field>
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col col-6 " style="margin: 20px">
      <button mat-button (click)="close()">
        <span>افزودن</span>
      </button>
    </div>
  </div>
</div>
