.example-spacer {
  flex: 1 1 auto;
}

.highlight-link {
  color: tomato;
}

#drawer::-webkit-scrollbar {
  width: 10px;
}
#drawer::-webkit-scrollbar-track {
  background: rgb(0, 12, 8);
}
#drawer::-webkit-scrollbar-thumb {
  background: #262626;
}
#drawer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
