
<h2 mat-dialog-title>کروه دسترسی جدید</h2>
<mat-dialog-content class="mat-typography">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Access Group name</mat-label>
            <input matInput >
          </mat-form-field>
        </p>
      </div>
      <div class="col">
        <p>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>نام سطح دسترسی</mat-label>
            <input matInput >
          </mat-form-field>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL-Bا</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL-E</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL_ALL</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL-T2</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL-MT</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL_H</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL-J</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >NETWORK</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL-A</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL_D</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL-F</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="col align-middle">
          <section class="example-section align-middle"  >
            <mat-checkbox class="example-margin" >AL-I</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close >لغو</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>اجرا</button>
</mat-dialog-actions>

