
<div class="home-component container" style="position: center">
  <div class="row mt-4" style="border: solid 1px #cecece; border-radius: 15px; padding: 30px 0px 50px 0px;">
    <div class="col col-12 p-0 text-center align-self-center">
      <div class="container p-2">
        <div class="row px-4 mb-4 align-items-center">
          <div class="col-9 " >
            <button mat-raised-button color="primary" (click)="openDialog()">افزودن میهمان</button>
          </div>
          <div class="col-3">
            <img class="img-thumbnail" src="../../../assets/google.png">
          </div>
        </div>

        <div class="row px-4">
          <div class="col mr-1">
        <p>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>نام</mat-label>
                <input matInput type="text" >
              </mat-form-field>
            </p>
          </div>
          <div class="col">
            <p>
              <mat-form-field appearance="outline" style="width:100%;">
                <mat-label>همه</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>
        </div>


        <div class="row px-4">
          <div class="col col-16 " style="margin-right: 90px">

            <button mat-raised-button color="primary" (click)="showModal = false" style="width: 25%; height: 43px">
              <span>اجرا</span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
