
<h2 mat-dialog-title>افزودن سطح دسترسی</h2>
<mat-dialog-content class="mat-typography">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>نام</mat-label>
            <input matInput >
          </mat-form-field>
        </p>
      </div>
      <div class="col">
        <p>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>نام خانوادگی</mat-label>
            <input matInput >
          </mat-form-field>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>انتخاب کارگروه</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>

    </div>
    <div class="row">
    <div class="col">
      <p>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>شماره کارت</mat-label>
          <input matInput >
        </mat-form-field>
      </p>
    </div>
    <div class="col">
      <p>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>شماره موبایل</mat-label>
          <input matInput >
        </mat-form-field>
      </p>
    </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close >لغو</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>اجرا</button>
</mat-dialog-actions>

