
<section>
  <div style="border-bottom: 1px solid #e7d9d9">
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'access-level'">سطح دسترسی</button>
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'access-group'">مدیریت گروه دسترسی</button>
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'working-group'">مدیریت دسترسی کارمندان</button>
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'guest'">میهمان</button>
    <button class="btn mt-2 mx-2" [routerLinkActive]="'active-link'" [routerLink]="'access-card'">کارت دسترسی</button>

  </div>
</section>


<router-outlet></router-outlet>

